body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.Section {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.FormDiv {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.FormPaper {
  height: fit-content;
  width: 400px;
  text-align: center;
  display: 'inline-block';
  margin: 20px 0px;
}

.FormHeader {
  background-color: #2196F3;
  padding: 10px 0;
  color: #FFF;
}

.FormButtons {
  padding: 20px 0px;
}

.CreateDeviceForm {
  display: inline-flex;
}

.CreateDeviceFormFields {
  margin-right: 20px
}

.CreateDeviceFormButton {
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
}
